@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="~/Manage/Index"style="font-size:large;color:#0a7639"><strong>Change Password</strong></a>
        </li>
        <li >
            <a href="javascript:document.getElementById('logoutForm').submit()"  style="padding-left:12px;color:#0a7639">
                <strong>Log Off</strong>
            </a>
        </li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
      
        @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
     
    </ul>
}
